# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
cdashQC-master/.Rproj.user/2D0BA47B/sdb/per/t/B3A050A1
cdashQC-master/.Rproj.user/2D0BA47B/sdb/prop/1C88CB50
cdashQC-master/.Rproj.user/2D0BA47B/sdb/prop/D378E974
cdashQC-master/.Rproj.user/2D0BA47B/sdb/prop/E150D51C
*.pper
.Rproj.user/2D0BA47B/saved_source_markers
.Rproj.user/2D0BA47B/sdb/prop/9795986C
.Rproj.user/2D0BA47B/sdb/prop/INDEX
.Rproj.user/2D0BA47B/sdb/s-6E384942/D863E342
.Rproj.user/2D0BA47B/sdb/s-6E384942/lock_file
.Rproj.user/2D0BA47B/sdb/s-A822B61C/lock_file
cdashQC-master/.Rproj.user/2D0BA47B/cpp-definition-cache
cdashQC-master/.Rproj.user/2D0BA47B/sdb/prop/INDEX
cdashQC-master/.Rproj.user/2D0BA47B/saved_source_markers
*.Rhistory
.Rhistory
.Rhistory
*.Rhistory
.Rhistory
.Rproj.user/2D0BA47B/sdb/per/t/19B5B5BF
.Rproj.user/2D0BA47B/sdb/per/t/9CF7DE19
.Rproj.user/2D0BA47B/sdb/per/t/A4514147
.Rproj.user/2D0BA47B/sdb/prop/26400E2D
.Rproj.user/2D0BA47B/sdb/prop/510ACD03
.Rproj.user/2D0BA47B/sdb/prop/720498CD
.Rproj.user/2D0BA47B/sdb/prop/995D5336
.Rproj.user/2D0BA47B/sdb/prop/C99DC10F
.Rproj.user/2D0BA47B/sdb/prop/D95829D3
.Rproj.user/2D0BA47B/sdb/prop/F5D332D4
.Rproj.user/2D0BA47B/sdb/prop/FFE0413
cdashQC-master/.RData
.Rhistory
.Rproj.user/2D0BA47B/sdb/per/t/4268BAA
.Rhistory
*.Rhistory
.Rhistory
.Rhistory
.Rhistory
.Rhistory
.Rhistory
.Rhistory
.Rhistory
.Rproj.user/2D0BA47B/sdb/prop/99C69C8F
.Rproj.user/2D0BA47B/sdb/prop/41D34868
.Rproj.user/2D0BA47B/sdb/prop/2451140C
.Rhistory
.Rproj.user/2D0BA47B/sdb/prop/105B24D8
.Rproj.user/2D0BA47B/sdb/per/t/71224441
.Rproj.user/2D0BA47B/sdb/per/t/5F72F139
.Rproj.user/2D0BA47B/sdb/per/t/AC2E88C7
.Rproj.user/2D0BA47B/sdb/per/t/F61089E6
.Rhistory
.Rhistory
